.banner{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
}
.banner-discription{
    flex:6;
    display: flex;
    flex-direction: column;
}
.banner-title{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.banner-detail{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.banner-gs{
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 2.1rem;
    padding: 0.8rem 1.25rem;
    background-color: #494FC9;
    color:white;
    border-radius: 1.25rem;
}
.banner-gs:hover{
    background-color: #2f349d;
}
.banner-img{
    flex:6;
    width: 100%;
    padding: 0px 7rem;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* responsive mobile */

@media screen and (max-width:540px){
    .banner{
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .banner-description{
        order:2;
    }

    .banner-title{
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .banner-detail{
        color: #616161;
        margin-bottom: 1rem;
    }

    .banner-img{
        order: 1;
        padding: 0 3rem;
    }
}